@model TriCourier.Models.Delivery_Agent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Delivery_Agent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
