@model TriCourier.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delivery_Agent1.Phone_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivery_Agent1.Phone_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From_addr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From_addr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To_Addr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To_Addr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delivery_Agent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivery_Agent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
